{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Jeremiah Emrich</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static '/media/profile pic.jpg' %}" >
					<hr>
					<h4>Hello Jeremiah here!</h4>
					<p>I love to code. I have the willingness to learn anything programming.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My programming journey.</h4>
					<hr>
					<p>I took a test looking for a career change, the results pointed me in the direction of programming. I started a free online trial and fell in love. The next week I was enrolled in the Computer Science program at UMGC.</p>

					<p>Since enrolling in computer science, I have not been able to stop coding. I have completed several skill and career courses on codecademy including Django, Flask and machine learning.</p>

					<p>Django is by far my favorite to work with and I look forward to see where the world of python and django can take me.</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I do now</h5>
					<hr>
					<p>Aviation Assembly Lead</p>
					<p>I am currently working in aircraft as an assembly mechanic. Although I have been working in that field for almost seven years, programming and coding is my dream job.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Codecademy completions:</h5>
					<hr>
					<p>Django, HTML, Flask, SQL, Dev tools in VS Code, javascript, Intro to back-end programming, Business intelligence Data Analyst.</p>
					<p>In college I have completed problem solving and algorith and currently taking java. </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Personal learning steps</h5>
					<hr>
					<p>I learn from writing code. Trial and error, try, research, fix.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Goals</h5>
				<hr>
				<p>My goals are to break out of aviation and land a job as programmer preferably in django or using python in some capacity.</p>
				<p>After landing a job I would like to grow as developer and employee and continue to grow with a company and find my forever job.</p>

				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>